server {
        listen {{ http_port }};
        root {{ dir }};
        index index.php index.html;
        server_name {{ http_host }};

        location ~ \.php$ {
        fastcgi_pass {{hostvars['srv2'].ansible_host}}:9000;
        try_files $uri =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_index index.php;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;
        }

}